body{
    box-sizing: border-box;
   
    margin: 0;
   overflow-x: hidden;
  width:800px;
  
}
.header-sec img{
    width:100%;
}
.header-sec .header-title span{
      color:#888;
}
.header-title{
    display: flex;
    align-items: center;
}
.header-title h2{
    padding-left: 20px;
}
.logo-sec{
    padding-top:25px;
}
.sec1{
    margin-top: 30px;
}
.sec1 p{
    font-weight: 600;
}
.sec-info span{
    font-size: 30px !important;
    padding-right: 3px;
    
}
.sec1 img{
    width:100%;
    height: auto;
    border-top-left-radius: 20px;
   
}
.sec2-title p{
    font-weight: bold;
   
}
.sec2-title {
    padding-left: 20px;
}
.sec2-title{
   margin-top:25px;
   margin-bottom: 25px;
}
.sec2-details p{
    font-weight: 600;
    
}
.sec2-details{
    padding-left: 20px;
}
.sec2-footer{
    text-align: right;
    color:#888;
}
@media only screen and (max-width: 600px){
    .header-sec{
       padding:10px;
    }
    .logo-sec{
        width: 300px;
    }
    .header-title h2{
        padding-left: 0;
    }
    .sec1 p{
        width:300px;
    }
    .sec1 img{
        width:300px;
        margin-left: 25px;
        border-radius: 20px;
    }
    .sec2-title{
        width:350px;
    }
    .sec2-details p{
        width:350px;
    }
}
